<%- include ('partials/head') %>
    <link rel="stylesheet" href="/css/altaProducto.css">
    <script src="/js/altaProducto.js" defer></script>
</head>
<body>
    <main>
        <div id="contenedor-Principal">
            <i class="bi bi-arrow-left" id="volverDashboard"></i>
            <h1>Agregar Producto</h1>
            <form id="altaProductoForm" autocomplete="off">
                <div id="contenedorLabels">
                    <label for="productoNombre">Nombre</label>
                    <input type="text" name="nombre" id="productoNombre">
    
                    <label for="productoImagen">Imagen</label>
                    <input type="text" name="url_imagen" id="productoImagen">
    
                    <label for="productoPrecio">Precio</label>
                    <input type="number" name="precio" id="productoPrecio">
    
                    <label for="categoriaProd">Categoria</label>
                    <select name="categoria" id="categoriaProd">
                        <option value="Libros">Libros</option>
                        <option value="Utiles">Utiles</option>
                    </select>
                </div>
                <button type="submit" id="btnCrearProducto">Crear Producto</button>
            </form>
        </div>

    </main>

    <div id="contenedorModalAltaProducto"></div>
    
    <%- include('partials/footer') %>