*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family:'Nunito';

    
}

:root {
    --color-fondo: rgb(255,249,230);
    --color-boton:  rgb(105,117,74);
    --color-amarillo-Personalizado:rgb(252,183,76);
    --marronPersonalizado:rgb(60,47,26);
}

#encabezado{

    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 20px;
    gap:10px;
    width: 100%;
    background-color: var(--color-fondo);
    border-bottom: 2px solid black;
}

#contenedor-tarjeta-usuario{
    border: 2px solid black;
    background-color: var(--color-boton);
    width: 8%;
    min-width: 100px;
    max-width:150px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;


    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}
#contenedor-tarjeta-usuario i{
    font-size: 2rem;
    color:var(--color-amarillo-Personalizado);

}
#contenedor-tarjeta-usuario p{
    font-size: 1.5rem;
    color: var(--marronPersonalizado);
}

#contenedor-logo-Titulo{
    width: 40%;
    display: flex;
    align-items: center;
    gap:30px;
    height: 100%;
}




#contenedor-logo-Titulo img {
    height: 4rem;           
    width: 4rem;
    border-radius: 100%; 
    border: 2px solid black;         
}
#contenedor-logo-Titulo h1 {
    font-size: 3rem;
    font-weight: bold;
}


#contenedor-boton-carrito{
    width:6.5rem ;
    max-width: 8rem;
    height: 3.5rem;
    border:2px solid black;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15%;
    background-color:var(--color-boton);
}

#contenedor-boton-carrito a {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
    text-decoration: none; 
}

#contenedor-boton-carrito i {
    font-size: 2rem;
    color:var(--marronPersonalizado);
}






/*Media queries header */

@media (max-width: 800px) {
    #contenedor-logo-Titulo {
        width: 80%;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap:5px;
    }


    #contenedor-logo-Titulo h1 {
        font-size: 2rem;
        line-height: 1.2;
    }
}




/*Body*/

body {
    font-family: 'Segoe UI', sans-serif;
    background-color: var(--color-fondo); 
    padding: 2rem;
}

#contenedor-selecion-categoria{
    display: flex;
    flex-direction: row;
    width: 40%; /*en media querie que ocupe un poco mas*/
    justify-content: center;
    margin: 0 auto;
    margin-top: 35px;
    gap:5rem;
}

#filtrarLibros,#filtrarUtiles{
    width:  6.2rem;
    height: 4rem;
    border-radius: 12px;
    font-size: 1.5rem;
    text-align: center;
    background-color: var(--color-boton);
    color: var(--color-fondo);
}

#filtrarLibros:hover,
#filtrarUtiles:hover {
    background-color: var(--color-amarillo-Personalizado); 
    color: var(--marronPersonalizado); 
    cursor: pointer;
    transform: scale(1.05); 
    transition: all 0.3s ease-in-out;
}



/*Seccion productos*/


#contenedor-productos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:2rem;
    padding: 2rem;
    margin-top: 3rem;
    border-radius: 12px;
    background-color: #fef5da;
}

.tarjeta-producto{
    background-color: var(--color-fondo);
    border-radius: 0.75rem;
    border: 1px solid var(--color-amarillo-Personalizado) ;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    gap:1rem;
    transition: transform 0.2s ease;

    flex-basis: 300px;
}


.tarjeta-producto:hover {
    transform: scale(1.03);
}

.tarjeta-producto img {
    width: 6.5rem; 
    height: 6.5rem;
    margin-bottom: 1rem;
}

.tarjeta-producto h3 {
    font-size: 1.25rem;
    color: var(--color-texto);
    margin: 0.5rem 0;
    text-align: center;
    word-break: break-all;
}

.tarjeta-producto p {
    font-size: 1.1rem;
    color: var(--color-texto);
    margin-bottom: 1rem;
}

.tarjeta-producto button {
    background-color: var(--color-boton);
    color: white;
    border: none;
    padding: 0.6rem 1.2rem;
    border-radius: 0.5rem;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
    }

.tarjeta-producto button:hover {
    background-color: var(--color-amarillo-Personalizado);
    color: var(--marronPersonalizado);
}












