*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #F8F9FA;
}

@keyframes animacionPersonalizada {
    0%   { background-position: 0% 50%; }
    50%  { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

i{
    font-size: 1.2rem;
}

.contenedor-registro{
    width:100%;
    max-width: 50%;
    border: 1px solid white;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    gap: 1.2rem;

    border: 2px solid #D1D5DB;
    border-radius: 1rem;
    padding: 25px 36px;
    background-color: #FFFFFF;
    color: #2E2E2E;
}

.contenedor-registro h1{
    text-align: center;
    font-size: 2.5rem;
    color: #2E2E2E;
    font-weight: bold;
}

form{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.ingresoRegistro{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.7rem;
    padding: 0.7rem;
    width: 100%;
}

.ingresoRegistro input{
    padding: 0.7rem;
    font-size: 1.2rem;
    width: 40%;
    height: 100%;
    background: transparent;
    color: #2E2E2E;
    border-radius: 25px;
    border: 1px solid rgb(140, 140, 137);
}

.ingresoRegistro input::placeholder{
    color: rgb(150, 147, 147);
}

#ocultar{
    cursor: pointer;
    background: transparent;
    border: none;
    padding: 0.25rem;
    color: #6B7280;
}

#ocultar:hover{
    color: #3A7CA5;
}

.contenedor-btnCrearCuenta{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.7rem;
    padding: 0.7rem;
    width: 100%;
}

.btnCrearCuenta{
    background-color: #3A7CA5; 
    color: white;
    border: none;
    padding: 0.6rem 1.2rem;
    border-radius: 0.5rem;
    cursor: pointer;
    font-weight: 600;
    transition: background-color 0.3s ease; /*Definimos la transicion de la propiedad background color de 0.3s, dandole una transicion suave con ease*/
}

.btnCrearCuenta:hover{
    background-color: #2C5F82;
}
