*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    /* Fondo del body: pantalla de registro */
    background: linear-gradient(135deg, #133c4a, #0f2b31, #111e20, #2d3c3f, #343333, #4a4a4a);;  /*135deg, significa que va en diagonal (izquierda-superior a derecha-inferior)*/
    background-size: 400% 400%;
    animation: animacionPersonalizada  8s ease-in-out infinite; 
    /*ease-in-out: empieza lento-acelera-frena
    infinite: se repite infinitamente */
}

@keyframes animacionPersonalizada {
    0%   { background-position: 0% 50%; }
    50%  { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}