*{
    padding: 0;
    margin: 0;
    box-sizing: border-box; /*el padding y el border se incluyen dentro del ancho y alto total del elemento.*/
    font-family: sans-serif;
}

body {

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #133c4a, #0f2b31, #111e20, #2d3c3f, #343333, #4a4a4a);
    background-size: 400% 400%;
    animation: animacionPersonalizada  5s ease-in-out infinite; 

}                 

@keyframes animacionPersonalizada {
    0%   { background-position: 0% 50%; }
    50%  { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.contenedor-login{
    width: 100%;
    max-width: 50%;
    min-height: 50vh;
    border-radius: 10px;
    padding: 25px 36px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:1rem
}

.contenedor-login h1{
    text-align: center;
    font-size: 40px;
    color: #2E2E2E;
}


#form-login{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:1rem;
}


.ingreso{
    display: flex;
    justify-content: center;
    padding: 5px;
    align-items: center;
    width: 50%;
}


.ingreso input{
    padding: 10px;
    font-size: 15px;
    width: 100%;
    color: #2E2E2E;
    border:none;
    outline: none;
    border-bottom: 1px solid rgb(140, 140, 137);
}

.ingreso input::placeholder{
    color: rgb(150, 147, 147);
}

.ingreso input:focus{
    border-bottom: 1px solid rgb(140, 140, 137);
    background-color: #F1F1F1;
}



#ocultar{
    background: none;
    border: none;
    padding: 0px;
    margin: 0 auto;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
}

#ocultar i{
    color: black;
}

.ingreso i{
    font-size: 1.2rem;
    margin-left: 8px;
    display: flex;
    align-items: center;
    color: black;
}


.boton-submit{
    width: 45%;
    margin: 5px;
    height: 30px;
    border-radius: 0.5rem;
    border:none;
    background-color: #3A7CA5;
    cursor: pointer;
    font-size: 18px;
    margin-top: 15px;
    color:white;
}

.boton-submit:hover {
    background-color:  #2C5F82; /*cambio de color en graduacion*/
}

.contenedor-registrarse{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap:1rem;
    margin: 10px;
}

#vinculo{
    text-decoration: none;
    color: #3A7CA5;
}

#vinculo:hover{
    text-decoration: underline;
}




/*media queries*/

@media (max-width:1200px){
    .contenedor-login{
        max-width: 65%;
    }
}

@media (max-width:900px){
    .contenedor-login{
        max-width: 80%;
    }
}

@media (max-width:750px){
    .contenedor-login{
        max-width: 100%;
    }
    .ingreso input{
        width: 100%;
    }
}

@media (max-width:500px){
    .ingreso input{
        width: 100%;
    }
    .contenedor-login h1{
        font-size: 2rem;
        word-wrap: break-word;
    }

}

@media (max-width:380px){
    .ingreso{
        width: 100%;
    }

}




