*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    
    background: linear-gradient(135deg, #133c4a, #0f2b31, #111e20, #2d3c3f, #343333, #4a4a4a);/*135deg, significa que va en diagonal (izquierda-superior a derecha-inferior)*/
    background-size: 400% 400%;
    animation: animacionPersonalizada  5s ease-in-out infinite; 

}  

button{
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 12px;
    color: #FFFFFF;
    font-size: 0.9rem;
    cursor: pointer;
    font-weight: 200;
    white-space: nowrap;
    transition: background-color 0.3s ease
}

@keyframes animacionPersonalizada {
    0%   { background-position: 0% 50%; }
    50%  { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.contenedor-principal{
    width: 100%;
    max-width: 65%;
    height: 85vh;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    overflow-y: scroll;
    
    background-color: #FFFFFF;
    border: 2px solid #D1D5DB;
    border-radius: 1rem;
    padding: 28px 36px;
    background-color: #FFFFFF;
    color: #2E2E2E;
}

.contenedor-principal h1{
    font-size: 2rem;
}

.contenedor-tituloPanel{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.contenedor-tituloPanel h2{
    font-weight: 200;
}

.contenedor-tituloPanel #btn-agregarProducto{
    background-color:#5a724e;
    transition: background-color 0.3s ease
}
.contenedor-tituloPanel #btn-agregarProducto:hover{
    background-color: #4d583f;
}

.contenedor-listaProductos{
    width: 100%;
}

.itemProducto{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 0.5rem;
    border-bottom: 1px solid #e0e0e0;
}

.itemProducto:hover {
    background-color: #f9f9f9;
    transition: background-color 0.2s ease;
}

.itemProductoInfo{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    flex: 1;
}

.itemProductoInfo img{
    width: 80px;
    height: auto;
}

.itemProductoInfo p{
    margin: 0;
}

.itemProducto .iconModificar{
    color: #5a6d7b;
}

.itemProducto .iconModificar:hover{
    color: #3c4b57;
}

.itemProducto .iconEliminar{
    color:#e74c3c;
}

.itemProducto .iconEliminar:hover{
    color:#c0392b;
}

.itemProducto .iconActivar{
    color: #f39c12;
}

.itemProducto .iconActivar:hover{
    color: #d68910;
}

.acciones{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.2rem;
    padding: 1rem;
}

.acciones i{
    cursor: pointer;
    font-size: 1.3rem;
}

@media (max-width: 1100px){
    .contenedor-principal h1{
        text-align: center;
    }
    .contenedor-tituloPanel{
        flex-direction: column;
        justify-content: center;
    }
    .itemProducto{
        flex-direction: column;
        align-items: center;
        gap: 1.2rem;
    }

    .itemProducto .itemProductoInfo{
        flex-direction: column;
        align-items:center;
    }

}