*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background: linear-gradient(135deg, #133c4a, #0f2b31, #111e20, #2d3c3f, #343333, #4a4a4a);/*135deg, significa que va en diagonal (izquierda-superior a derecha-inferior)*/
    background-size: 400% 400%;
    animation: animacionPersonalizada  5s ease-in-out infinite; 
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 95vh;
    
}  

footer{
    background-color: transparent;
    text-align: center;
    color: #aca6a6; 
}

button{
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 12px;
    color: #FFFFFF;
    font-size: 0.9rem;
    cursor: pointer;
    font-weight: 200;
    transition: background-color 0.3s ease
}

@keyframes animacionPersonalizada {
    0%   { background-position: 0% 50%; }
    50%  { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.contenedor-principal{
    width: 100%;
    max-width: 65%;
    height: 85vh;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    overflow-y: scroll;
    
    background-color: #FFFFFF;
    border: 2px solid #D1D5DB;
    border-radius: 1rem;
    padding: 34px 39px;
    background-color: #FFFFFF;
    color: #2E2E2E;
}

.contenedor-headerPanel h1{
    order: 1;
    font-size: 2rem;
}

.contenedor-headerPanel{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/*Agregue eso*/
#contenedorTitulo{
    display: flex;
    gap: 1rem;
    flex-direction: column;
} 

.contenedor-registrarse{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.6rem;
    text-align: right;
    order: 2;
}


.contenedor-registrarse #vinculo {
    color: #FFFFFF;
    text-decoration: none;
    transition: color 0.2s ease;
}

.contenedor-registrarse #btn-agregarAdmin{
    display: flex;
    gap: 0.3rem;
    background-color:#7c7e7c;
    padding: 0.75rem 1rem;
    font-size: 0.8rem;
    transition: background-color 0.3s ease
}

.contenedor-registrarse #btn-agregarAdmin:hover{
    background-color: #404140;
}

.contenedor-tituloPanel{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.contenedor-tituloPanel h2{
    font-weight: 200;
}

.contenedor-tituloPanel #btn-agregarProducto{
    background-color:#5a724e;
    transition: background-color 0.3s ease
}
.contenedor-tituloPanel #btn-agregarProducto:hover{
    background-color: #4d583f;
}

.contenedor-listaProductos{
    width: 100%;
}

.listaProductos{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.itemProducto{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 0.5rem;
    border-bottom: 1px solid #e0e0e0;
}

.itemProducto:hover {
    background-color: #f9f9f9;
    transition: background-color 0.2s ease;
}

.itemProductoInfo{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    flex: 1;
}

.itemProductoInfo img{
    width: 80px;
    height: auto;
}

.itemProductoInfo p{
    margin: 0;
}

.acciones button{
    cursor: pointer;
    padding: 0.9rem;
}

.acciones button .iconModificar{
    color: #5a6d7b;
}

.acciones button:hover .iconModificar{
    color: #3c4b57;
}

.acciones button .iconEliminar{
    color:#e74c3c;
}

.acciones button:hover .iconEliminar{
    color:#c0392b;
}

.acciones button .iconActivar{
    color: #f39c12;
}

.acciones button:hover .iconActivar{
    color: #d68910;
}

.acciones{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.2rem;
    padding: 1rem;
}

.acciones i{
    font-size: 1.3rem;
}



@media (max-width: 1100px){
    .contenedor-principal h1{
        text-align: center;
    }
    .contenedor-tituloPanel{
        flex-direction: column;
        justify-content: center;
    }
    .itemProducto{
        flex-direction: column;
        align-items: center;
        gap: 1.2rem;
    }

    .itemProducto .itemProductoInfo{
        flex-direction: column;
        align-items:center;
    }

    .contenedor-headerPanel{
        flex-direction: column;
        align-items: center;
        gap: 3rem;
    }
    .contenedor-registrarse{
        order:1
    }
    #contenedorTitulo{
        order: 2;
    }

    #volverProductos{
        text-align: center;
    }

    h1{
        font-size: 2.5rem;
    }

}

@media (max-width:700px){
    .contenedor-principal{
        max-width: 100%;
    }
}