*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


body{
    background: linear-gradient(135deg, #133c4a, #0f2b31, #111e20, #2d3c3f, #343333, #4a4a4a);
    background-size: 400% 400%;
    animation: animacionPersonalizada  5s ease-in-out infinite; 
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}  

@keyframes animacionPersonalizada {
    0%   { background-position: 0% 50%; }
    50%  { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}


#contenedor-Principal{
    width: 100%;
    max-width: 65%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    overflow-y: scroll;
    
    background-color: #FFFFFF;
    border: 2px solid #D1D5DB;
    border-radius: 1rem;
    padding: 34px 39px;
    background-color: #FFFFFF;
    color: #2E2E2E;
    justify-content: center;
}


#altaProductoForm{
    display: flex;
    flex-direction: column;
    gap:3rem;
    align-items: center;
}

h1{
    text-align: center;
}

#altaProductoForm label {
    font-size: 1rem;
    color: #111e20;
    font-weight: 600;
}

#btnCrearProducto{
    background-color:#5a724e;
    transition: background-color 0.3s ease;
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 12px;
    font-size: 0.9rem;
    cursor: pointer;
    max-width: 200px;
    color: #FFFFFF;
    font-size: 200;
}

#btnCrearProducto:hover{
    background-color: #4d583f;
}

#altaProductoForm input,
#altaProductoForm select {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
    background-color: #fff;
}


#contenedorLabels{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;

    width: 75%;
    margin: 0 auto;
}


footer{
    background-color: transparent;
    text-align: center;
    color: #aca6a6;
}